Projeto/flows.json
[
    {
        "id": "fa8ad268335ab9da",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a0ce25d47a0cc3c5",
        "type": "mqtt in",
        "z": "fa8ad268335ab9da",
        "name": "Iluminária",
        "topic": "XavierESP/LED1",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "cefe63cfbffa54d5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 120,
        "wires": [
            [
                "a6bde71628c2fe1c",
                "f9f8f3cd73db5692"
            ]
        ]
    },
    {
        "id": "a6bde71628c2fe1c",
        "type": "debug",
        "z": "fa8ad268335ab9da",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 160,
        "wires": []
    },
    {
        "id": "8b397907914b6b7c",
        "type": "mqtt out",
        "z": "fa8ad268335ab9da",
        "name": "Iluminária",
        "topic": "XavierESP/LED1",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cefe63cfbffa54d5",
        "x": 500,
        "y": 240,
        "wires": []
    },
    {
        "id": "57d66a8090362655",
        "type": "ui_switch",
        "z": "fa8ad268335ab9da",
        "name": "Iluminação",
        "label": "Iluminação",
        "tooltip": "",
        "group": "af39112dbfa3567b",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 250,
        "y": 240,
        "wires": [
            [
                "8b397907914b6b7c",
                "23d66539721c6def"
            ]
        ]
    },
    {
        "id": "23d66539721c6def",
        "type": "debug",
        "z": "fa8ad268335ab9da",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 300,
        "wires": []
    },
    {
        "id": "d9ef1782545de10c",
        "type": "mqtt in",
        "z": "fa8ad268335ab9da",
        "name": "Aquecedor",
        "topic": "XavierESP/LED2",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "cefe63cfbffa54d5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 460,
        "wires": [
            [
                "b6500f32e0f691d9",
                "3ffac7036f56afeb"
            ]
        ]
    },
    {
        "id": "b6500f32e0f691d9",
        "type": "debug",
        "z": "fa8ad268335ab9da",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 500,
        "wires": []
    },
    {
        "id": "37625f50aecbde5f",
        "type": "mqtt out",
        "z": "fa8ad268335ab9da",
        "name": "Aquecedor",
        "topic": "XavierESP/LED2",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cefe63cfbffa54d5",
        "x": 510,
        "y": 580,
        "wires": []
    },
    {
        "id": "02e09e8f057bb277",
        "type": "ui_switch",
        "z": "fa8ad268335ab9da",
        "name": "",
        "label": "Aquecedor",
        "tooltip": "",
        "group": "6bdea31f38b41add",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 250,
        "y": 580,
        "wires": [
            [
                "37625f50aecbde5f",
                "058ff8b98d2203dd"
            ]
        ]
    },
    {
        "id": "058ff8b98d2203dd",
        "type": "debug",
        "z": "fa8ad268335ab9da",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 640,
        "wires": []
    },
    {
        "id": "f9f8f3cd73db5692",
        "type": "ui_led",
        "z": "fa8ad268335ab9da",
        "order": 1,
        "group": "af39112dbfa3567b",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Iluminária",
        "x": 580,
        "y": 120,
        "wires": []
    },
    {
        "id": "3ffac7036f56afeb",
        "type": "ui_led",
        "z": "fa8ad268335ab9da",
        "order": 1,
        "group": "6bdea31f38b41add",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Aquecedor",
        "x": 570,
        "y": 460,
        "wires": []
    },
    {
        "id": "5d13229cf6314ea4",
        "type": "mqtt in",
        "z": "fa8ad268335ab9da",
        "name": "Ventilação",
        "topic": "XavierESP/LED3",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "cefe63cfbffa54d5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 800,
        "wires": [
            [
                "ca1656ffd5c68623",
                "5e5a3d22463780b3"
            ]
        ]
    },
    {
        "id": "ca1656ffd5c68623",
        "type": "debug",
        "z": "fa8ad268335ab9da",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 840,
        "wires": []
    },
    {
        "id": "48aecd4f1ddcf2ed",
        "type": "mqtt out",
        "z": "fa8ad268335ab9da",
        "name": "Ventilação",
        "topic": "XavierESP/LED3",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cefe63cfbffa54d5",
        "x": 510,
        "y": 920,
        "wires": []
    },
    {
        "id": "db0826085a966e78",
        "type": "ui_switch",
        "z": "fa8ad268335ab9da",
        "name": "",
        "label": "Ventilador",
        "tooltip": "",
        "group": "0b5d44dd7812aef7",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 240,
        "y": 920,
        "wires": [
            [
                "48aecd4f1ddcf2ed",
                "5ecd4a115e44d57b"
            ]
        ]
    },
    {
        "id": "5ecd4a115e44d57b",
        "type": "debug",
        "z": "fa8ad268335ab9da",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 980,
        "wires": []
    },
    {
        "id": "5e5a3d22463780b3",
        "type": "ui_led",
        "z": "fa8ad268335ab9da",
        "order": 1,
        "group": "0b5d44dd7812aef7",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Ventilador",
        "x": 560,
        "y": 800,
        "wires": []
    },
    {
        "id": "35aa0f890d9686db",
        "type": "mqtt in",
        "z": "fa8ad268335ab9da",
        "name": "Bombeamento",
        "topic": "XavierESP/LED4",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "cefe63cfbffa54d5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 1140,
        "wires": [
            [
                "6d6301ce98370ecc",
                "b7fac8b0192b657b"
            ]
        ]
    },
    {
        "id": "6d6301ce98370ecc",
        "type": "debug",
        "z": "fa8ad268335ab9da",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 1180,
        "wires": []
    },
    {
        "id": "b0371a0dcd0489bf",
        "type": "mqtt out",
        "z": "fa8ad268335ab9da",
        "name": "Bombeamento",
        "topic": "XavierESP/LED4",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cefe63cfbffa54d5",
        "x": 520,
        "y": 1260,
        "wires": []
    },
    {
        "id": "3c7c4d08dacbf9d7",
        "type": "ui_switch",
        "z": "fa8ad268335ab9da",
        "name": "",
        "label": "Bomba",
        "tooltip": "",
        "group": "963f1b4cebcb829c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 240,
        "y": 1260,
        "wires": [
            [
                "b0371a0dcd0489bf",
                "d440020780089b84"
            ]
        ]
    },
    {
        "id": "d440020780089b84",
        "type": "debug",
        "z": "fa8ad268335ab9da",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 1320,
        "wires": []
    },
    {
        "id": "b7fac8b0192b657b",
        "type": "ui_led",
        "z": "fa8ad268335ab9da",
        "order": 1,
        "group": "963f1b4cebcb829c",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Bomba",
        "x": 560,
        "y": 1140,
        "wires": []
    },
    {
        "id": "cefe63cfbffa54d5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.eclipseprojects.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "af39112dbfa3567b",
        "type": "ui_group",
        "name": "Iluminação",
        "tab": "a4c9b1f3a5e38bc8",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6bdea31f38b41add",
        "type": "ui_group",
        "name": "Aquecedor",
        "tab": "a4c9b1f3a5e38bc8",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0b5d44dd7812aef7",
        "type": "ui_group",
        "name": "Ventilação",
        "tab": "a4c9b1f3a5e38bc8",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "963f1b4cebcb829c",
        "type": "ui_group",
        "name": "Bombeamento",
        "tab": "a4c9b1f3a5e38bc8",
        "order": 4,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a4c9b1f3a5e38bc8",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]