Projeto/flows.json
[
    {
        "id": "fa8ad268335ab9da",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a0ce25d47a0cc3c5",
        "type": "mqtt in",
        "z": "fa8ad268335ab9da",
        "name": "Iluminária",
        "topic": "XavierESP/LED1",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "cefe63cfbffa54d5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 260,
        "wires": [
            [
                "a6bde71628c2fe1c",
                "f9f8f3cd73db5692"
            ]
        ]
    },
    {
        "id": "a6bde71628c2fe1c",
        "type": "debug",
        "z": "fa8ad268335ab9da",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 300,
        "wires": []
    },
    {
        "id": "d9ef1782545de10c",
        "type": "mqtt in",
        "z": "fa8ad268335ab9da",
        "name": "Aquecedor",
        "topic": "XavierESP/LED2",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "cefe63cfbffa54d5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 460,
        "wires": [
            [
                "b6500f32e0f691d9",
                "3ffac7036f56afeb"
            ]
        ]
    },
    {
        "id": "b6500f32e0f691d9",
        "type": "debug",
        "z": "fa8ad268335ab9da",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 500,
        "wires": []
    },
    {
        "id": "37625f50aecbde5f",
        "type": "mqtt out",
        "z": "fa8ad268335ab9da",
        "name": "NivelTemperatura",
        "topic": "XavierESP/NivelTemperatura",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cefe63cfbffa54d5",
        "x": 1090,
        "y": 460,
        "wires": []
    },
    {
        "id": "f9f8f3cd73db5692",
        "type": "ui_led",
        "z": "fa8ad268335ab9da",
        "order": 1,
        "group": "888ca328846e5aa6",
        "width": 0,
        "height": 0,
        "label": "Iluminação",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Iluminária",
        "x": 580,
        "y": 260,
        "wires": []
    },
    {
        "id": "3ffac7036f56afeb",
        "type": "ui_led",
        "z": "fa8ad268335ab9da",
        "order": 1,
        "group": "f7a9568648416471",
        "width": "0",
        "height": "0",
        "label": "Aquecedor",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Aquecedor",
        "x": 570,
        "y": 460,
        "wires": []
    },
    {
        "id": "5d13229cf6314ea4",
        "type": "mqtt in",
        "z": "fa8ad268335ab9da",
        "name": "Ventilação",
        "topic": "XavierESP/LED3",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "cefe63cfbffa54d5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 600,
        "wires": [
            [
                "ca1656ffd5c68623",
                "5e5a3d22463780b3"
            ]
        ]
    },
    {
        "id": "ca1656ffd5c68623",
        "type": "debug",
        "z": "fa8ad268335ab9da",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 640,
        "wires": []
    },
    {
        "id": "5e5a3d22463780b3",
        "type": "ui_led",
        "z": "fa8ad268335ab9da",
        "order": 1,
        "group": "0b5d44dd7812aef7",
        "width": 0,
        "height": 0,
        "label": "Ventilador",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Ventilador",
        "x": 560,
        "y": 600,
        "wires": []
    },
    {
        "id": "35aa0f890d9686db",
        "type": "mqtt in",
        "z": "fa8ad268335ab9da",
        "name": "Bombeamento",
        "topic": "XavierESP/LED4",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "cefe63cfbffa54d5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 880,
        "wires": [
            [
                "6d6301ce98370ecc",
                "b7fac8b0192b657b"
            ]
        ]
    },
    {
        "id": "6d6301ce98370ecc",
        "type": "debug",
        "z": "fa8ad268335ab9da",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 920,
        "wires": []
    },
    {
        "id": "b0371a0dcd0489bf",
        "type": "mqtt out",
        "z": "fa8ad268335ab9da",
        "name": "Bombeamento",
        "topic": "XavierESP/LED4",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cefe63cfbffa54d5",
        "x": 540,
        "y": 1000,
        "wires": []
    },
    {
        "id": "3c7c4d08dacbf9d7",
        "type": "ui_switch",
        "z": "fa8ad268335ab9da",
        "name": "",
        "label": "Acionar Bomba",
        "tooltip": "",
        "group": "963f1b4cebcb829c",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 280,
        "y": 1000,
        "wires": [
            [
                "b0371a0dcd0489bf",
                "d440020780089b84"
            ]
        ]
    },
    {
        "id": "d440020780089b84",
        "type": "debug",
        "z": "fa8ad268335ab9da",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 1060,
        "wires": []
    },
    {
        "id": "b7fac8b0192b657b",
        "type": "ui_led",
        "z": "fa8ad268335ab9da",
        "order": 1,
        "group": "dbd49f475d7b80d4",
        "width": 0,
        "height": 0,
        "label": "Bombeamento",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Bomba",
        "x": 580,
        "y": 880,
        "wires": []
    },
    {
        "id": "476ee6c122789820",
        "type": "ui_slider",
        "z": "fa8ad268335ab9da",
        "name": "Nível Temperatura",
        "label": "Setpoint de Temperatura (°C)",
        "tooltip": "",
        "group": "6bdea31f38b41add",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "30",
        "step": 1,
        "className": "",
        "x": 810,
        "y": 460,
        "wires": [
            [
                "37625f50aecbde5f"
            ]
        ]
    },
    {
        "id": "5c882a87b2d9c825",
        "type": "ui_text",
        "z": "fa8ad268335ab9da",
        "group": "fa62c7f7fcef03e8",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Temperatura",
        "label": "Temperatura da Água (°C):",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1090,
        "y": 560,
        "wires": []
    },
    {
        "id": "096ae947ca35144b",
        "type": "mqtt in",
        "z": "fa8ad268335ab9da",
        "name": "Temperatura",
        "topic": "XavierESP/Temperatura",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "cefe63cfbffa54d5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 810,
        "y": 560,
        "wires": [
            [
                "5c882a87b2d9c825",
                "2b0dc00b2e5b2ad2"
            ]
        ]
    },
    {
        "id": "727ff5dea491e681",
        "type": "mqtt out",
        "z": "fa8ad268335ab9da",
        "name": "Temperatura",
        "topic": "XavierESP/Temperatura",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cefe63cfbffa54d5",
        "x": 1050,
        "y": 660,
        "wires": []
    },
    {
        "id": "5c9d7a3f97d66cfe",
        "type": "ui_button",
        "z": "fa8ad268335ab9da",
        "name": "Alimentador",
        "group": "47fe68fc097a0c6e",
        "order": 5,
        "width": "7",
        "height": "4",
        "passthru": false,
        "label": "Alimentador",
        "tooltip": "",
        "color": "white",
        "bgcolor": "black",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 810,
        "y": 820,
        "wires": [
            [
                "0224880465ef2334"
            ]
        ]
    },
    {
        "id": "0224880465ef2334",
        "type": "mqtt out",
        "z": "fa8ad268335ab9da",
        "name": "Alimentador",
        "topic": "XavierESP/Alimentador",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cefe63cfbffa54d5",
        "x": 1090,
        "y": 820,
        "wires": []
    },
    {
        "id": "2b0dc00b2e5b2ad2",
        "type": "ui_chart",
        "z": "fa8ad268335ab9da",
        "name": "Temperatura",
        "group": "fa62c7f7fcef03e8",
        "order": 5,
        "width": "7",
        "height": "4",
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "30",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#002aff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1110,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "c200ca4fd596e299",
        "type": "IssueDashboard",
        "z": "fa8ad268335ab9da",
        "x": 0,
        "y": 0,
        "wires": [
            []
        ]
    },
    {
        "id": "03784ce7cfde0c69",
        "type": "remote-access",
        "z": "fa8ad268335ab9da",
        "confignode": "a6296b307532423a",
        "name": "",
        "verbose": 0,
        "x": 940,
        "y": 280,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "cefe63cfbffa54d5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.eclipseprojects.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "888ca328846e5aa6",
        "type": "ui_group",
        "name": "Iluminação",
        "tab": "a4c9b1f3a5e38bc8",
        "order": 2,
        "disp": false,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f7a9568648416471",
        "type": "ui_group",
        "name": "Aquecedor",
        "tab": "a4c9b1f3a5e38bc8",
        "order": 1,
        "disp": false,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0b5d44dd7812aef7",
        "type": "ui_group",
        "name": "Ventilação",
        "tab": "a4c9b1f3a5e38bc8",
        "order": 3,
        "disp": false,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "963f1b4cebcb829c",
        "type": "ui_group",
        "name": "Bombeamento",
        "tab": "a4c9b1f3a5e38bc8",
        "order": 7,
        "disp": false,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dbd49f475d7b80d4",
        "type": "ui_group",
        "name": "Bombeamento Status",
        "tab": "a4c9b1f3a5e38bc8",
        "order": 4,
        "disp": false,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6bdea31f38b41add",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "a4c9b1f3a5e38bc8",
        "order": 6,
        "disp": false,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fa62c7f7fcef03e8",
        "type": "ui_group",
        "name": "TemperaturaView",
        "tab": "a4c9b1f3a5e38bc8",
        "order": 5,
        "disp": false,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "47fe68fc097a0c6e",
        "type": "ui_group",
        "name": "Alimentador",
        "tab": "a4c9b1f3a5e38bc8",
        "order": 8,
        "disp": false,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a6296b307532423a",
        "type": "remote-config",
        "name": "Dashboard",
        "host": "localhost",
        "protocol": "http",
        "port": "1880",
        "baseurl": "/ui",
        "instancehash": "tqucx6db166bgpwqy9pt1tbs1nap8aundp93g6ug3swcdocokl0ao164usqf8f13",
        "server": "nodered03.remote-red.com",
        "region": "us"
    },
    {
        "id": "a4c9b1f3a5e38bc8",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
